/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #eb25e1;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #eb25e1;
}

code {
  color: #eb25e1;
}

.btn-primary {
  color: #fff;
  background-color: #eb25e1;
  border-color: #eb25e1;
}

/* Importing Bootstrap SCSS file. */
@import "node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

/* Importing Bootstrap Icons SCSS file. */
@import "node_modules/bootstrap-icons/font/bootstrap-icons";
